@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject UserManager<User> userManager
@model IEnumerable<BlogReview.Models.User>

@{
    ViewData["Title"] = Localizer["AdminPanelBanner"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userId = ViewData["userId"] as string;
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<h1>@Localizer["AdminPanelBanner"]</h1>
<hr />

<h3>@Localizer["UsersBanner"]</h3>
<table class="table" id="users">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Localizer["UserRole"]
            </th>
            <th>
                @Localizer["UserNameBanner"]
            </th>
            <th>
                @Localizer["UserEmailBanner"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userManager.GetRolesAsync(item).Result[0])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <div class="d-flex flex-column flex-sm-row align-items-center">
                    <a class="btn btn-sm btn-secondary me-2" asp-action="Index" asp-route-userId="@item.Id">@Localizer["UserLink"]</a>
                    @if (userId != item.Id.ToString() && (User.IsInRole("MasterAdmin") && !(await userManager.IsInRoleAsync(item, "MasterAdmin")) 
                        || User.IsInRole("Admin") && (await userManager.IsInRoleAsync(item, "User"))))
                    {
                        @if (item.LockoutEnd == null)
                        {
                            <form method="post" action="@Url.Action("BlockUser", "Account", new { id = item.Id })">
                                <button type="submit" class="btn btn-sm btn-danger me-2">@Localizer["UserBlock"]</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" action="@Url.Action("UnBlockUser", "Account", new { id = item.Id })">
                                <button type="submit" class="btn btn-sm btn-danger me-2">@Localizer["UserUnBlock"]</button>
                            </form>
                        }
                        <form method="post" action="@Url.Action("DeleteUser", "Account", new { id = item.Id })">
                            <button type="submit" class="btn btn-sm btn-danger me-2">@Localizer["UserDelete"]</button>
                        </form>
                    }
                    @if (User.IsInRole("MasterAdmin"))
                    {
                        @if (await userManager.IsInRoleAsync(item, "User"))
                        {
                            <form method="post" action="@Url.Action("SetUserAdmin", "Account", new { id = item.Id })">
                                <button type="submit" class="btn btn-sm btn-success">@Localizer["UserSetAdmin"]</button>
                            </form>
                        }
                        else if (!await userManager.IsInRoleAsync(item, "MasterAdmin"))
                        {
                            <form method="post" action="@Url.Action("RemoveUserAdmin", "Account", new { id = item.Id })">
                                <button type="submit" class="btn btn-sm btn-danger">@Localizer["UserRemoveAdmin"]</button>
                            </form>
                        }
                    }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    var table = table = new DataTable('#users', {
        language: DataTablelanguage,
        columnDefs: [
            {
                targets: 4, orderable: false, searchable: false
            }
        ]
    });
</script>